.review {
  width: 474px;
  background-color: #FFFFFF;
  box-shadow: 0px 100px 100px rgba(0, 0, 0, 0.145947);
  margin-left: 800px;  
  transform: translateY(-541px);
}

@media screen and (max-width: 1024px) {
  .review {
    margin-left: 166px;  
    transform: none;
    margin-top: 60px;
  }
}