.product__image_type_revers {
  margin-left: 70px;
  margin-right: 0px;
  
  overflow: hidden;
}

@media screen and (max-width: 1024px) {
  .product__image_type_revers {    
    margin-left: 30px;
  }
}