.product__image_type_revers {
  margin-left: 70px;
  margin-right: 0px;
  
  overflow: hidden;
}

@media screen and (max-width: 1024px) {
  .product__image_type_revers {    
    margin-left: 30px;
  }
}

@media screen and (max-width: 768px) {
  .product__image_type_revers {    
    width: 100%;
    object-fit: cover;
    margin: 0;
    margin-bottom: 15px;
  }
}