.client__logo {
  margin-top: 60px;
  margin-bottom: 54px;
  cursor: pointer;
  background: none;
  border: none;
}

.client__logo:first-of-type {
  margin-left: 65px;
}

.client__logo:last-of-type {
  margin-right: 166px;
}

.client__logo:hover {
  transform: scale(1.1);
  transition: 0.6s ease;
}

@media screen and (max-width: 1024px) {
  .client__logo:last-of-type {
    margin-right: 65px;
  }
}