.action__link {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-decoration-line: underline;
  color: #D4D6D4;
  margin-left: 164px;
}

@media screen and (max-width: 768px) {
  .action__link {
    margin-left: 30px;
  }
}