.line {
  margin: 0px auto;
  color: rgba(33, 56, 66, 0.0955529);
  width: calc(100% - 165px*2);
  height: 1px;
}

@media screen and (max-width: 1024px) {
  .line {
    width: 692px;
  }
}

@media screen and (max-width: 768px) {
  .line {
    width: calc(100% - 30px*2);
  }
}