.comment {
  position: absolute;
  z-index: 2;
  bottom: 0px;
  left: 323px;
  width: 453px;
  background-color: #FFFFFF;
  box-shadow: 50px 50px 100px rgba(0, 0, 0, 0.145947);
  border-radius: 8px;
}