.table {
  margin: 0px auto;
  padding: 0;
  padding-bottom: 322px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}


@media screen and (max-width: 1024px) {
  .table {
    padding-bottom: 60px;
  }
}