.header__subtitle {
  margin: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 162%;
  color: #FFFFFF;
  width: 581px;
}

.header__subtitle:first-of-type {
  margin-bottom: 22px;
}

.header__subtitle:last-of-type {
  margin-bottom: 45px;
}