.navigation {
  position: relative;
  z-index: 1;
  display: flex;
  align-items:flex-start;
  justify-content: space-between;
  margin: 0px auto;
  width: calc(100% - 165px*2);
  max-height: 43px;
  padding-top: 24px;
  padding-bottom: 124px;
}

@media screen and (max-width: 768px) {
  .navigation {
    width: calc(100% - 30px*2);
  }
}