.action {
  position: absolute;
  z-index: 2;
  transform: translateY(-181px);
  max-width: 1275px;
  background: #FAFAFA;
  box-shadow: 50px 130px 100px rgba(0, 0, 0, 0.145947);
  padding-bottom: 70px;
  overflow: hidden;
}

@media screen and (max-width: 1024px) {
  .action {
    position: relative;
    transform: none;
    padding-bottom: 30px;
  }
}