.contact {
  margin: 0px auto;
  padding: 0;
  width: calc(100% - 165px*2);
  margin-bottom: 52px;
  padding-top: 310px;
  display: flex;
  justify-content: flex-start;
}

@media screen and (max-width: 1024px) {
  .contact {
    padding-top: 60px;
  }
}