.product {
  margin: auto;
  margin-bottom: 100px;
  width: 1306px;
  display: flex;
  align-items: center;  
  position: relative;
  z-index: 1;
}

.product:last-of-type {
  margin-bottom: 0;
}

@media screen and (max-width: 1024px) {
  .product {    
    width: 100%;
    padding-bottom: 120px;
    align-items: flex-start;
  }
}